@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* =========================
   VARIABLES
========================= */
:root {
    --cover-width: 315px;
    --cover-height: 250px;
    
    --desc-width: 150px;
    --desc-height: 200px;

    --game-width: 378px;
    --game-height: 300px;

    --game-desc-width: 295px;
    --game-desc-height: 224px;
}

/* =========================
   PAGE
========================= */
.columns {
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 40px;
    justify-content: flex-end;
    
    margin-bottom: -50px;
    
    .profile_column {
        width: 620px;
        margin-left: -170px;
        transform: scale(0.8) translateY(-5%) translateX(-10%);
        align-self: flex-start;
        transform-origin: left center;
    }

    .game_column {
        transform: translateX(-10%);
        margin-left: -5px;
        flex: 1;
        width: 1000px;
        max-width: 1000px;
        transform-origin: left center;
    }
}
.columns .profile_column,
.columns .game_column
{
    transform: translateX(-180px) translateY(-25px);
}

.mode_grid {
    .user_game_grid {
        width: 600px;
        transform: scale(0.75) translateY(13%);
        transform-origin: left center;
    }
}

/* =========================
   HEADER ANIMATION
========================= */
.header {
    transform: scale(0.8) translateY(-15px) translateX(150px);
    img
    {
        display: inline-block;
        transform-origin: center;
        animation: logoRotate 3s ease-in-out infinite;
    }
}

.custom-dance {
    transform: translateX(-25px) translateY(-730px) scale(2);
    img
    {
        display: inline-block;
        transform-origin: center;
        animation: logoRotate 3s ease-in-out infinite;
    }
}

.footer {
    background-color: var(--itchio_body_color);
}

.user_page h2
{
    font-size: 40px;
}

@keyframes logoRotate {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@keyframes bobbing {
    0% {
        transform: translateY(-0.25%);
    }
    50% {
        transform: translateY(0.25%);
    }
    100% {
        transform: translateY(-0.25%);
    }
}

/* =========================
   PROFILE
========================= */
.user_profile {
    height: 375px;
    background-color: #702b2b;
    border: 5px solid #eb524a;
    border-radius: 15px;
    margin: 30px;
    padding: 15px;
    z-index: 2;
}

.user_page .user_links
{
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -20px;
}

.link_group {
    padding: 10px;
}

.custom-our-pick {
    position: absolute;
    transform: translateX(-230px) translateY(-425px) scale(1.75);
    img
    {
        display: inline-block;
        transform-origin: center;
        animation: logoRotate 3s ease-in-out infinite;
    }
}

button, .button, .link_group {
    background: linear-gradient(45deg, #ff0099, #ff6600);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    
    a {
        text-decoration: underline transparent;
    }
    
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 15px #ff0099;

        a {
            text-decoration: underline white;
        }
    }
}

/* =========================
   TEXT STYLING
========================= */
strong {
    color: #6dd3ff;
}

.formatted {
    img {
        max-width: 120px;
    }
}

/* =========================
   GAME GRID
========================= */
.collections {
    --accent-color: rgba(122, 0, 87, 0.43);

    .collection_row
    {
        width: 1500px;
        margin-left: auto;
        margin-right: auto;
        
        &:nth-child(1) {
            --accent-color: rgba(122, 0, 87, 0.43);
        }

        &:nth-child(2) {
            --accent-color: rgba(8, 122, 0, 0.43);
        }

        &:nth-child(3) {
            --accent-color: rgba(0, 89, 122, 0.43);
        }
        
        .inner_column {

            width: 1360px;
            margin-left: 50px;
            margin-right: 50px;
            
            max-width: 100%;

            justify-items: center;
            .carousel_wrapper
            {
                width: 100%;
                max-width: 100%;
                padding-top: 10px;
                padding-bottom: 60px;
                justify-items: center;
                border-radius: 20px;

                background: linear-gradient(180deg, var(--accent-color), rgba(1,1,1, 0));

            }

            h2 {
                position: relative;
                padding: 20px 30px 10px;
                margin-bottom: -40px;
                border-radius: 20px;
                z-index: 0;
                background: none;
                font-family: "Segoe Print", "Segoe UI", "Comic Sans MS", cursive;
            }

            h2::before {
                content: "";
                position: absolute;
                inset: 0;
                margin-bottom: 20px;


                border-radius: 20px 20px 0px 0px;
                z-index: -1;

                background: var(--accent-color);
            }
        }
    }
}

.game_grid_widget {
    display: flex;
    flex-direction: column;
    gap: 0px;
    
    .game_cell {
        pointer-events: none;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;

        position: relative;
        z-index: 0;
        overflow: hidden;

        padding: 25px;
        margin-top: -25px;
        width: 100% !important;

        transform: translateX(0%);
        transition:
                transform 500ms ease,
                filter 500ms ease;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(
                    -90deg,
                    #2e6136,
                    #2e6136,
                    rgba(0, 0, 0, 0)
            );
            border-radius: 7px;
            z-index: -1;
            opacity: 0;
            transition:
                    opacity 700ms ease-in;
        }

        &:hover {
            transform: scale(1.03) translateX(-5%);
            z-index: 10;
            &::before {
                opacity: 1;
                transition:
                        opacity 500ms ease;
            }

            .game_thumb {
                border-color: #ffffff;
                transform: scale(1.2);
            }

            .game_cell_data {
                border-color: #ffffff;
                opacity: 1;
                transform:
                        translateX(calc((1.4 - 1) * -50%))
                        scale(1);
            }

            .game_platform {
                opacity: 1;
                transform: scale(1.2);
            }

            .game_genre {
                opacity: 1;
            }
        }

        &:not(:hover) {
            filter: saturate(90%);

            &::before {
                transition:
                        opacity 200ms ease;
            }

            .game_thumb
            {
                opacity: 0.75;
                animation: bobbing 1s ease infinite;
            }

            .game_cell_data {
                opacity: 0;
            }
        }

        .game_thumb {
            pointer-events: auto;
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
            width: var(--cover-width);
            height: var(--cover-height);
            flex-shrink: 0;
            margin-right: 7px;

            border-radius: 7px;
            overflow: hidden;
            border: 2px solid #000000;

            transition:
                    transform 220ms cubic-bezier(.25, .8, .25, 1),
                    border-color 150ms ease,
                    opacity 150ms ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .game_cell_data {
            pointer-events: none;
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
            
            transform-origin: right center;
            flex: 1;
            max-width: var(--desc-width);
            height: var(--desc-height);

            background: linear-gradient(-90deg,rgba(21, 66, 47, 0.67) 0%, rgba(37, 77, 42, 1) 90%);
            opacity: 0;
            padding: 20px;
            margin-top: 0px;

            border-radius: 7px;
            border: 2px solid #498c58;

            transition:
                    transform 220ms ease,
                    background-color 150ms ease,
                    opacity 150ms ease;

            will-change: transform;
        }

        .game_cell_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
        }

        .game_text {
            max-width: none;
        }

        .game_platform,
        .game_genre {
            transform-origin: bottom center;
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            gap: 5px;

            transition:
                    transform 220ms ease,
                    border-color 150ms ease,
                    opacity 150ms ease;
        }
    }

    &.game_list {
        transform: scale(1);
        
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--game-width), 1fr));
        grid-auto-rows: var(--cover-height);
        row-gap: 10px;
        column-gap: 100px;
        justify-items: center;
        
        > .game_cell {
            position: relative;
            width: var(--game-width) !important;
            height: var(--game-height) !important;
            box-sizing: border-box;
            
            margin:0;
            transition: 
                    margin 0.3s ease,
                    transform 0.3s ease;
            
            padding: 20px;
            
            display: block;
            transform: none;

            .game_thumb,
            .game_cell_data {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                margin: auto;
            }
            
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-color: #254d2a;
                border-radius: 7px;
                z-index: -1;
                opacity: 0;
                transition:
                        opacity 700ms ease-in;
            }
            
            &:hover {
                z-index: 10;
                transform: scale(1.01) translateY(-5%) translateX(0%);
                
                .game_thumb {
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    border-color: #ffffff;
                    border-width: 5px;
                    transform: scale(1.1);
                    z-index: 4;
                }

                .game_cell_data {
                    opacity: 1;
                    
                    z-index: 5;
                    
                    transform:
                            translateX(0%)
                            scale(1);
                }
                
                .game_platform {
                    opacity: 1;
                    transform: scale(1.2);
                }

                .game_genre {
                    opacity: 1;
                }
            }

            &:not(:hover) {
                filter: none;

                .game_thumb {
                    animation: bobbing 1s ease infinite;
                }
            }


            .game_thumb {
                box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
                
                width: var(--cover-width);
                height: var(--cover-height);
                
                inset: 0;
                z-index: 1;

                transition:
                        z-index 0ms linear,
                        transform 220ms cubic-bezier(.25, .8, .25, 1),
                        border-color 150ms ease,
                        opacity 150ms ease;

                img 
                {
                    transform-origin: center center;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .game_cell_data {
                pointer-events: none;
                
                width: var(--game-desc-width);
                height: var(--game-desc-height);
                
                max-width: none;
                inset: 0;
                
                padding: 20px;
                z-index: 2;
                
                opacity: 0;
                background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(1, 19, 3, 0.82) 23%, rgba(15, 70, 6, 0.25) 63%, rgba(1, 19, 3, 0.82) 100%);

                border-radius: 7px;
                border: 4px solid #498c58;

                transition:
                        z-index 0ms linear,
                        transform 220ms ease,
                        background-color 150ms ease,
                        opacity 150ms ease;

                will-change: transform;
                
                .game_text {
                    text-shadow:
                            1px 0 7px black,
                            -1px 0 7px black,
                            0 1px 7px black,
                            0 -1px 7px black;
                    font-weight: 700;
                }
                
                .game_title {
                    text-shadow: 2px 2px 7px black;
                    font-size: 1.25em;
                    
                }
            }

            .game_cell_info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1;
            }

            .game_text {
                max-width: none;
                width: 295px;
                height: 50px;
                padding: 10px;
                text-wrap: wrap;
            }

            .game_platform,
            .game_genre {
                transform-origin: bottom center;
                margin-top: auto;
                margin-left: auto;
                margin-right: auto;
                gap: 5px;

                transition:
                        transform 220ms ease,
                        border-color 150ms ease,
                        opacity 150ms ease;
            }
        }
    }
}


@media (max-width: 700px) {
    .game_grid_widget {
        .game_cell {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .game_thumb {
                width: 100%;
                max-width: 320px;
                height: auto;
            }

            .game_cell_data {
                max-width: none;
            }
        }
    }
}